* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #555;
  padding: 10px 20px;
  background: #FAF3F5;
}

/* Montserrat */
h1, h2, h3, h4, h5,
.tagline,
.option-properties .key,
.button {
  font-family: 'Montserrat', Gotham, 'Proxima Nova', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #222;
}

a,
a code {
  color: #D11;
  text-decoration: none;
  background: hsla(0, 100%, 50%, 0.02);
}



a:hover,
a:hover code {
  color: #159;
}

/* ---- #content ---- */

#content {
  padding-left: 220px;
}

#content h2 {
  border-top: 5px solid #DDD;
  padding-top: 1.0em;
  margin-top: 2.0em;
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}


.tagline {
  font-size: 2.0em;
  line-height: 1.2;
}

/* ---- button ---- */

.button {
  background: #C0E;
  border: none;
  padding: 0.8em 1.0em;
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.3);
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.4);
  cursor: pointer;
}

.button:hover {
  background: #D3F;
}

.button:active {
  background: #B0D;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.6);
}


/* ---- properties ---- */

.option-properties {
  padding: 0;
  list-style: none;
}

.option-properties li {
  padding: 0.3em 0.8em;
  background: #DDD;
  background: hsla(0, 0%, 0%, 0.02);
  display: inline;
  display: inline-block;
  border: 4px solid hsla(0, 0%, 0%, 0.1);
}

.option-properties .value {
  color: #46A;
}
