/* ---- demos ---- */

.example {
  display: -webkit-flex;
  display: flex;
}

.example-code {
  -webkit-flex: 1;
  margin-right: 20px;
}


.demo {
  background: #FDD;
  -webkit-flex: 1;
}

.packery {
  background: #FCC;
}

/* clearfix */
.packery:before,
.packery:after {
  content: " ";
  display: table;
}

.packery:after {
  clear: both;
}


.demo .item {
  float: left;
  width:  40px;
  height: 40px;
  background: #A08;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
}

.demo .item.w2 { width:  80px; background: #8A0; }
.demo .item.h2 { height: 80px; background: #0A8;}

.demo .item.h4 { height: 160px; background: #A80; }
.demo .item.w4 { width:  160px; background: #80A; }

.demo .button {
  margin: 0.5em;
}

/* ---- measurement demos ---- */

#column-width-demo2 .grid-sizer {
  width: 20%;
}

#row-height-demo2 .grid-sizer {
  height: 60px;
}

#gutter-demo2 .gutter-sizer {
  width: 3%;
}

/* ---- place elements ---- */

#placed-elements-demo {
  position: relative;
}

#placed-elements-demo .placed {
  position: absolute;
  width: 30%;
  height: 60px;
  background: red;
  border: 4px dotted white;
}

#placed-elements-demo .placed1 {
  left: 20%;
  top: 10px;
}

#placed-elements-demo .placed2 {
  right: 10%;
  top: 80px;
}


/* ---- bind draggabilly ---- */

#bind-draggabilly-demo .item {
  cursor: move;
}

#bind-draggabilly-demo .item:hover {
  border-color: white;
}

.demo .item.is-dragging,
.demo .item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 10;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
}
