/* ---- demos ---- */

.demo .button {
  margin-bottom: 0.8em;
}

/* ---- measurement demos ---- */

#column-width-demo2 .grid-sizer {
  width: 20%;
}

#row-height-demo2 .grid-sizer {
  height: 60px;
}

#gutter-demo2 .gutter-sizer {
  width: 3%;
}

/* ---- placed ---- */

.has-placed {
  position: relative;
}

.demo .placed {
  position: absolute;
  width: 30%;
  height: 60px;
  background: red;
  border: 4px dotted white;
}

#placed-elements-demo .placed1 {
  left: 20%;
  top: 10px;
}

#placed-elements-demo .placed2 {
  right: 10%;
  top: 80px;
}

#place-demo .placed {
  left: 20%;
  top: 50px;
  width: 50%;
  height: 100px;
}

#place-demo .item { opacity: 0.8; }

/* ---- draggable ---- */

.draggable .item {
  cursor: move;
}

.draggable .item:hover {
  border-color: white;
}

.packery.draggable .item.is-dragging,
.packery.draggable .item.is-positioning-post-drag,
.packery.draggable .item.ui-draggable-dragging {
  border-color: white;
  background: #09F;
  z-index: 10;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
}

/* ---- fit ---- */

#fit-demo .item {
  width: 25%;
  height: 60px;
}

#fit-demo .item.gigante {
  width: 100%;
  background: #C90;
  height: 90px;
}

/* ---- layout ---- */

.clickable .item:hover {
  border-color: white;
  cursor: pointer;
}
