/* ---- demos ---- */

.example {
  display: -webkit-flex;
  display: flex;
}

.example-code {
  -webkit-flex: 1;
  margin-right: 20px;
}

.demo {
  background: #FDD;
  -webkit-flex: 1;
}

.packery {
  background: #FCC;
}

.demo .item {
  width:  40px;
  height: 40px;
}

.demo .item.w2 { width:  80px; }
.demo .item.h2 { height: 80px; }

.demo .item.h4 { height: 160px; }
.demo .item.w4 { width:  160px; }

.demo .item.gigante {
  width: 120px;
  height: 160px;
  z-index: 10; /* keep it above other items */
}

.demo .button {
  margin: 0.5em;
}

/* ---- measurement demos ---- */

#column-width-demo2 .grid-sizer {
  width: 20%;
}

#row-height-demo2 .grid-sizer {
  height: 60px;
}

#gutter-demo2 .gutter-sizer {
  width: 3%;
}

/* ---- placed ---- */

.has-placed {
  position: relative;
}

.demo .placed {
  position: absolute;
  width: 30%;
  height: 60px;
  background: red;
  border: 4px dotted white;
}

#placed-elements-demo .placed1 {
  left: 20%;
  top: 10px;
}

#placed-elements-demo .placed2 {
  right: 10%;
  top: 80px;
}

#place-demo .placed {
  left: 20%;
  top: 50px;
  width: 50%;
  height: 100px;
}

#place-demo .item { opacity: 0.8; }

/* ---- bind draggabilly ---- */

#bind-draggabilly-demo .item {
  cursor: move;
}

#bind-draggabilly-demo .item:hover {
  border-color: white;
}

.demo .item.is-dragging,
.demo .item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 10;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
}

/* ---- layout ---- */

.clickable .item:hover {
  border-color: white;
  cursor: pointer;
}
