#hero {
  background: #80A;
  color: #FAF3F5;
  position: relative;
  overflow: hidden;
}

/* keep above packery demo */
#hero .primary-content > * {
  position: relative;
  z-index: 2; 
}

#hero .primary-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#hero h1 {
  font-size: 140px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
  padding-top: 20px;
  color: white;
}

#hero .tagline {
  font-size: 32px;
  margin-bottom: 30px;
}


#hero .packery {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 4px 4px 0 200px;
  border: none;
}

#hero .item {
  background: #80A;
}


#hero .placed {
  position: absolute;
/*  background: hsla(0, 0%, 100%, 0.4); */
  z-index: 2;
}

#hero .placed-ackery {
  width: 476px;
  height: 90px;
  left: 294px;
  top: 92px;
}

#hero .placed-p-top {
  width: 95px;
  height: 82px;
  left: 200px;
  top: 70px;
}

#hero .placed-p-bottom {
  width: 40px;
  height: 90px;
  left: 200px;
  top: 92px;
}

#hero .placed-k {
  width: 34px;
  height: 90px;
  left: 459px;
  top: 65px;
}

#hero .placed-y {
  width: 70px;
  height: 88px;
  left: 675px;
  top: 120px;
}

#hero .placed-tagline {
  width: 494px;
  height: 40px;
  left: 200px;
  top: 239px;
}
