/* ---- features ---- */

#what {
  background: #0C9;
}

#what,
#what h2 {
  color: white;
}

#what p {
  font-size: 1.15em;
}

#what a { color: #90C; }

#what a:hover { color: #333; }

@media screen and ( min-width: 960px ) {

  .index-page #content > .primary-content:first-child {
    padding: 0;
  }

}
