/* ---- primary-content ---- */

/* stuff that isn't in the gutter */

.primary-content {
  padding-left: 200px;
  padding-right: 20px;
}

/* ---- #content ---- */

#content .primary-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#content .primary-content > * {
  max-width: 700px;
}

#content .primary-content .row,
#content #notification,
#content #hero-demos {
  max-width: none;
}

#content h2,
#content .horiz-rule {
  font-size: 1.7em;
  border-top: 4px solid #FAC;
  padding-top: 0.8em;
  margin-top: 2.0em;

}

#content h2:target {
  padding-left: 0.5em;
  background: #A08;
  color: white;
  border-top-color: #A80;
}

/* ---- #page-nav ---- */

#page-nav {
  position: fixed;
  left: 0;
  top: 60px;
  list-style: none;
  padding: 0;
  font-size: 13px;
  width: 200px;
  text-align: left;
  padding: 20px;
  z-index: 2; /* above packeries */
}

#page-nav li {
  margin-bottom: 4px;
}
