/* ---- primary-content ---- */

/* stuff that isn't in the gutter */
.primary-content {
  padding-left: 10px;
  padding-right: 10px;
}

/* ---- #content ---- */

#content h2,
#content .horiz-rule {
  font-size: 1.7em;
  padding-top: 0.4em;
  color: #C09;
}

#content h2:target {
  padding-left: 0.5em;
  background: #C09;
  color: white;
  border-top-color: #C90;
}

/* ---- #page-nav ---- */

#page-nav {
  padding: 1.0em 0;
  font-size: 13px;
  z-index: 2; /* above packeries */
}

#page-nav li {
  display: inline-block;
}

#page-nav li:after {
  content: ' •';
  margin: 0 0.3em;
  opacity: 0.5;
}

#page-nav li:last-child:after {
  content: none;
}

/* desktop */
@media screen and ( min-width: 960px ) {

  .primary-content {
    padding-left: 200px;
    padding-right: 20px;
  }

  #content .primary-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #content .primary-content > * {
    max-width: 700px;
  }

  #content .primary-content .row,
  #content #notification,
  #content #hero-demos {
    max-width: none;
  }

  #page-nav {
    position: absolute;
    left: 0;
    top: 60px;
    list-style: none;
    padding: 0;
    width: 200px;
    padding: 20px;
  }

  #page-nav li {
    display: block;
    margin-bottom: 4px;
    margin-left: 0;
  }

  #page-nav li:after {
    content: none;
  }

}

/* fix #page-nav only if we have enough height */
@media screen and ( min-width: 960px ) and ( min-height: 540px ) {
  #page-nav {
    position: fixed;
  }
}
