/* main
------------------------- */

.main h2 {
  font-size: 2.0rem;
  font-weight: 400;
  padding: 0.4em 0;
  border-top: 2px solid;
}

.main h3 {
  border-top: 1px solid #BBB;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.main h2:target,
.main h3:target {
  padding-left: 0.5em;
  background: #C09;
  color: white;
  border-color: #C09;
}

.main li {
  margin-bottom: 0.2em;
}

/* tablet-ish */
@media screen and ( min-width: 800px ) {

  .main .primary-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* primary content that houses page-nav */
  .main > .primary-content:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main .primary-content > * {
    max-width: 900px;
  }

}
