/* ---- site nav ---- */

#site-nav {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 164px;
}

#site-nav h1 {
  font-size: 2.65em;
  margin-bottom: 0.2em;
}

#site-nav a {
  background: none;
}

#site-nav ol {
  padding: 0;
  list-style: none;
  font-size: 18px;
}

#site-nav li {
  margin-bottom: 0.2em;
}

#site-nav ol a {
  color: #C2C;
}

#site-nav .packery-frame {
  height: 160px;
/*  position: relative;*/
/*  background: #EEE;*/
}

#site-nav .packery {
  background: none;
  margin-bottom: 1.5em;
}

#site-nav .item {
  width: 20px;
  height: 20px;
}

#site-nav .item.w2 { width:  44px; }
#site-nav .item.h2 { height: 44px; }

#site-nav .item.h4 { height: 92px; }
#site-nav .item.w4 { width:  92px; }

/*#site-nav .item.w2.h2 { background: #80A; }*/
