/* ---- site nav ---- */

#site-nav {
  background: #A08;
  height: 60px;
  line-height: 60px;
}

#site-nav h1 {
  width: 200px;
  text-align: center;
  font-size: 2.0em;

}

#site-nav h1 a {
  display: block;
  background: #8A0;
  color: white;
}

/* hide text on index */
.index-page #site-nav h1 a { color: #8A0; }

#site-nav a {
  background: none;
}

#site-nav ol {
  padding: 0;
  list-style: none;
  font-size: 18px;
  position: absolute;
  left: 200px;
  top: 0;
}

#site-nav ol:after {
  content: ' ';
  display: table;
  clear: both;
}

#site-nav li {
  float: left;
}

#site-nav ol a {
  color: white;
  display: block;
  padding: 0 1.0em;
}

#site-nav ol a:hover {
  background: #D80;
}

#site-nav .packery-frame {
  height: 160px;
/*  position: relative;*/
/*  background: #EEE;*/
}

#site-nav .packery {
  background: none;
  margin-bottom: 1.5em;
  border: none;
}

#site-nav .item {
  width: 20px;
  height: 20px;
}

#site-nav .item.w2 { width:  44px; }
#site-nav .item.h2 { height: 44px; }

#site-nav .item.h4 { height: 92px; }
#site-nav .item.w4 { width:  92px; }

/*#site-nav .item.w2.h2 { background: #80A; }*/
