/* ---- site nav ---- */

#site-nav {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 164px;
}

#site-nav h1 {
  font-size: 2.65em;
  margin-bottom: 0.2em;
  position: absolute;
  left: 0;
  top: 62px;
  z-index: 20;
}

#site-nav a {
  background: none;
}

#site-nav ol {
  padding: 0;
  list-style: none;
  font-size: 18px;
}

#site-nav li {
  margin-bottom: 0.2em;
}

#site-nav ol a {
  color: #C2C;
}

#site-nav .packery-frame {
  height: 200px;
  position: relative;
/*  background: #EEE;*/
}

#site-nav .packery {
  background: none;
  margin-bottom: 1.5em;
}

/* placed elements so no overlap on Packery */

#site-nav .placed {
/*  background: hsla(240, 100%, 60%, 0.8);*/
/*  z-index: 10;*/
}

#site-nav .placed-word {
  width: 100%;
  height: 28px;
  left: 0;
  top: 81px;
}

#site-nav .placed-p {
  width: 30px;
  height: 28px;
  left: 0;
  top: 72px;
}

#site-nav .placed-k {
  width: 17px;
  height: 28px;
  left: 71px;
  top: 72px;
}

#site-nav .placed-y {
  width: 25px;
  height: 28px;
  left: 135px;
  top: 90px;
}

#site-nav .item {
  width: 20px;
  height: 20px;
  float: left;
  background: #A08;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
}

#site-nav .item.w2 { width:  44px; background: #8A0; }
#site-nav .item.h2 { height: 44px; background: #0A8; }

#site-nav .item.h4 { height: 92px; background: #A80; }
#site-nav .item.w4 { width:  92px; background: #80A; }

/*#site-nav .item.w2.h2 { background: #80A; }*/
