/* other-product
------------------------- */

.other-product__link {
  position: relative; /* gonna abs */
  display: block;
  padding: 0px;
  background: #F8F8F8;
  border-radius: 5px;
  color: #C90;
}

.site-footer .other-product__link:hover {
  background: #C90;
  color: #F8F8F8;
}

.other-product__link:after {
  content: '';
  display: block;
  clear: both;
}

.other-product__image {
  float: left;
  display: block;
  width: 100%;
  max-width: 140px;
  margin-right: 1.0em;
  border-radius: 5px 0 0 5px;
}

.other-product__title {
  font-weight: bold;
  font-size: 2.0rem;
  margin-bottom: 0.25em;
  margin-top: 0px;
  padding-top: 5px;
}

.other-product__description {
  line-height: 1.2;
}
}
