<div class="duo__cell example__demo" data-js="shift-layout">
  <p class="instruction">Click item to toggle size</p>

  <div class="grid grid--clickable">
    {{> grid-items }}
  </div>

  {{> edit-demo default="pgVQLz" vanillaJS="eJrQrJ" }}
</div>
