<div class="site-nav">
  <h1 class="site-nav__title"><a href=".">Packery</a></h1>
  <ol class="site-nav__list" class="container">
    <li class="site-nav__item site-nav__item--layout"><a href="layout.html">Layout</a></li>
    <li class="site-nav__item site-nav__item--options"><a href="options.html">Options</a></li>
    <li class="site-nav__item site-nav__item--methods"><a href="methods.html">Methods</a></li>
    <li class="site-nav__item site-nav__item--draggable"><a href="draggable.html">Draggable</a></li>
    <li class="site-nav__item site-nav__item--events"><a href="events.html">Events</a></li>
    <li class="site-nav__item site-nav__item--extras"><a href="extras.html">Extras</a></li>
    <li class="site-nav__item site-nav__item--license"><a href="license.html">License</a></li>
  </ol>
</div>
