/* ---- site nav ---- */

.site-nav {
  background: #C09;
}

.site-nav,
.site-nav__title {
  line-height: 44px;
}


/* clear fix */
.site-nav:after {
  content: ' ';
  display: table;
  clear: both;
}

/* ---- site-nav__title ---- */

.site-nav__title {
  float: left;
  text-align: center;
  font-size: 1.5em;
  background: #C90;
  margin: 0;
}

.site-nav__title a {
  padding: 0 0.8em;
  display: block;
  color: white;
}

.site-nav__title a:hover {
  background: #90C;
}

.site-nav .primary-content {
  padding: 0;
}
/* ---- site-nav__list, site-nav__item ---- */

.site-nav__list {
  list-style: none;
  margin-bottom: 0;
}

.site-nav__list:after {
  content: ' ';
  display: table;
  clear: both;
}

.site-nav__item {
  float: left;
  font-size: 15px;
}

.site-nav__item a {
  color: white;
  display: block;
  padding: 0 1.0em;
}

.site-nav__item a:hover {
  background: #C90;
}

/* selected */
.options-page .site-nav__item--options a,
.methods-page .site-nav__item--methods a,
.events-page .site-nav__item--events a,
.draggable-page .site-nav__item--draggable a,
.license-page .site-nav__item--license a,
.appendix-page .site-nav__item--appendix a,
.faq-page .site-nav__item--faq a {
  background: #90C;
}


@media screen and ( min-width: 960px ) {

  /* hide text on index */
  .index-page .site-nav__title a {
    display: none;
  }

  .site-nav,
  .site-nav__title {
    line-height: 60px;
  }

  .site-nav__title {
    width: 200px;
    height: 60px;
    font-size: 2.0em;
  }

  .site-nav__item {
    font-size: 17px;
  }

}
