<div class="in-use-gallery">
  {{#each inUse}}
    <div class="in-use-gallery__item">
      <p class="in-use-gallery__item__title">{{{title}}}</p>
      <img class="in-use-gallery__item__image" src="{{image}}" />
    </div>
  {{/each}}
</div>
