/* primary-content
------------------------- */

.primary-content {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1500px;
}

.primary-content > * {
  max-width: 900px;
}

.primary-content .duo.example {
  max-width: none;
}

/* desktop */
@media screen and ( min-width: 960px ) {

  .primary-content {
    padding-left: 200px;
    padding-right: 20px;
  }

}
