---
isHomepage: true
---

<h2>Install</h2>

{{! --------------------------------------------------- }}

<h3>Download</h3>

<ul>
  <li><a href="{{sourceUrlPath}}packery.pkgd.js">packery.pkgd.js</a> un-minified, or</li>
  <li><a href="{{sourceUrlPath}}packery.pkgd.min.js">packery.pkgd.min.js</a> minified</li>
</ul>

{{! --------------------------------------------------- }}

<h3>CDN</h3>

<p>Link directly to Packery files on <a href="https://npmcdn.com">npmcdn</a>.</p>


``` html
<script src="https://npmcdn.com/packery@{{packeryVersion}}/dist/packery.pkgd.js"></script>
<!-- or -->
<script src="https://npmcdn.com/packery@{{packeryVersion}}/dist/packery.pkgd.min.js"></script>
```

{{! --------------------------------------------------- }}

<h3>Package managers</h3>

<p>Install with <a href="http://bower.io">Bower</a>: <code>bower install packery --save</code></p>

<p><a href="https://www.npmjs.com/package/packery">Install with npm</a>: <code>npm install packery</code></p>

{{! --------------------------------------------------- }}

<h2>License</h2>

{{! --------------------------------------------------- }}

<h3>Commercial license</h3>

<p>If you want to use Packery to develop commercial sites, themes, projects, and applications, the Commercial license is the appropriate license. With this option, your source code is kept proprietary. <a href="license.html">Read more about Packery commercial licensing</a>.</p>

<p>Once purchased, you&rsquo;ll receive a commercial license PDF and be all set to use Packery in your commercial applications.</p>

<div class="buy-button-trio">
  {{#license-options.developer}}
    {{> buy-button}}
  {{/license-options.developer}}

  {{#license-options.team}}
    {{> buy-button}}
  {{/license-options.team}}

  {{#license-options.organization}}
    {{> buy-button}}
  {{/license-options.organization}}
</div>

{{! --------------------------------------------------- }}

<h3>Open source license</h3>

<p>If you are creating an open source application under a license compatible with the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL license v3</a>, you may use Packery under the terms of the GPLv3. <a href="license.html">Read more about Packery open source licensing</a>.</p>

{{! --------------------------------------------------- }}

<h2>Getting started</h2>

{{! --------------------------------------------------- }}

<h3>HTML</h3>

<p>Include the Packery <code>.js</code> file in your site.</p>

``` html
<script src="/path/to/packery.pkgd.min.js"></script>
```

<p>Packery works on a container element with a group of similar child items.</p>

``` html
<div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>
```

{{! --------------------------------------------------- }}

<h3>CSS</h3>

<p>All sizing of items is handled by your CSS.</p>

``` css
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
```

{{! --------------------------------------------------- }}

<h3>Initialize with jQuery</h3>

<p>You can use Packery as a jQuery plugin:
  <code>$(<span class="string">'selector'</span>).packery()</code>.</p>

``` js
$('.grid').packery({
  // options
  itemSelector: '.grid-item',
  gutter: 10
});
```

{{! --------------------------------------------------- }}

<h3>Initialize with Vanilla JavaScript</h3>

<p>You can use Packery with vanilla JS:
  <code><span class="keyword">new</span> <span class="packery_keyword">Packery</span>( elem, options )</code>.
  The <code><span class="packery_keyword">Packery</span>()</code> constructor accepts two arguments: the container element and an options object.</p>

``` js
var elem = document.querySelector('.grid');
var pckry = new Packery( elem, {
  // options
  itemSelector: '.grid-item',
  gutter: 10
});

// element argument can be a selector string
//   for an individual element
var pckry = new Packery( '.grid', {
  // options
});
```

{{! --------------------------------------------------- }}

<h3>Initialize in HTML</h3>

<p>You can initialize Packery in HTML, without writing any JavaScript. Add <code>data-packery</code> attribute to the container element. <a href="options.html">Options</a> can be set in its value.</p>

``` html
<div class="grid" data-packery='{ "itemSelector": ".grid-item", "gutter": 10 }'>
```

<div class="call-out">
  <p>Options set in HTML must be valid JSON. Keys need to be quoted, for example <code><span class="string">"itemSelector"</span>:</code>. Note the value of <code>data-packery</code> is set with single quotes <code>'</code>, but JSON entities use double-quotes <code>"</code>.</p>
</div>

{{! --------------------------------------------------- }}

<h2>Packery in use</h2>

<p>Are you using Packery? <a href="https://twitter.com/metafizzyco">Tweet @metafizzyco</a> or email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a> to share your work and possibly get it featured here.</p>

{{> in-use-gallery }}

{{! --------------------------------------------------- }}

<h2>Twitter updates from <a href="https://twitter.com/metafizzyco">@metafizzyco</a></h2>

<p><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=packery+from%3Ametafizzyco" data-widget-id="502208269725605888">Packery tweets</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
