---
isHomepage: true
---

<h2>Install</h2>

{{! --------------------------------------------------- }}

<h3>Download</h3>

<ul>
  <li><a href="{{sourceUrlPath}}packery.pkgd.js">packery.pkgd.js</a> un-minified, or</li>
  <li><a href="{{sourceUrlPath}}packery.pkgd.min.js">packery.pkgd.min.js</a> minified</li>
</ul>

{{! --------------------------------------------------- }}

<h3>CDN</h3>

<p>Link directly to Packery files on <a href="https://npmcdn.com">npmcdn</a>.</p>


``` html
<script src="https://npmcdn.com/packery@{{packeryVersion}}/dist/packery.pkgd.js"></script>
<!-- or -->
<script src="https://npmcdn.com/packery@{{packeryVersion}}/dist/packery.pkgd.min.js"></script>
```

{{! --------------------------------------------------- }}

<h3>Package managers</h3>

<p>Install with <a href="http://bower.io">Bower</a>: <code>bower install packery --save</code></p>

<p><a href="https://www.npmjs.com/package/packery">Install with npm</a>: <code>npm install packery</code></p>

{{! --------------------------------------------------- }}

<h2>License</h2>

{{! --------------------------------------------------- }}

<h3>Commercial license</h3>

<p>If you want to use Packery to develop commercial sites, themes, projects, and applications, the Commercial license is the appropriate license. With this option, your source code is kept proprietary. <a href="license.html">Read more about Packery commercial licensing</a>.</p>

<p>Once purchased, you&rsquo;ll receive a commercial license PDF and be all set to use Packery in your commercial applications.</p>

<div class="buy-button-trio">
  {{#license-options.developer}}
    {{> buy-button}}
  {{/license-options.developer}}

  {{#license-options.team}}
    {{> buy-button}}
  {{/license-options.team}}

  {{#license-options.organization}}
    {{> buy-button}}
  {{/license-options.organization}}
</div>

{{! --------------------------------------------------- }}

<h3>Open source license</h3>

<p>If you are creating an open source application under a license compatible with the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL license v3</a>, you may use Packery under the terms of the GPLv3. <a href="license.html">Read more about Packery open source licensing</a>.</p>

{{! --------------------------------------------------- }}

<h2>Getting started</h2>

{{! --------------------------------------------------- }}

<h3>HTML</h3>

<p>Packery works on a container element with a group of similar child items.</p>

``` html
<div id="container">
  <div class="item">...</div>
  <div class="item w2">...</div>
  <div class="item">...</div>
  ...
</div>
```

<p>Include the Packery script in your site.</p>

``` html
<script src="/path/to/packery.pkgd.min.js"></script>
```

{{! --------------------------------------------------- }}

<h3>CSS</h3>

<p>All sizing of items is handled by your CSS.</p>

``` css
.item { width: 25%; }
.item.w2 { width: 50%; }
```

<h3>Initialize with JavaScript</h3>

<p>Initialize a Packery instance as a jQuery plugin:  <code>$('#container').packery()</code>.</p>

``` js
var $container = $('#container');
// init
$container.packery({
  itemSelector: '.item',
  gutter: 10
});
```

<p>Initialize a Packery instance with <code><span class="keyword">new</span> Packery( element, options )</code>. The <code>Packery</code> constructor accepts two arguments: the container element and an <a href="options.html">options</a> object.</p>

``` js
var container = document.querySelector('#container');
var pckry = new Packery( container, {
  // options
  itemSelector: '.item',
  gutter: 10
});
```

{{! --------------------------------------------------- }}

<h3>Initialize in HTML</h3>

<p>You can initialize Packery in HTML, without writing any JavaScript. Simply add <code>js-packery</code> to the class of the container element. <a href="options.html">Options</a> can be set with a <code>data-packery-options</code> attribute.</p>

``` html
<div id="container" class="js-packery"
  data-packery-options='{ "itemSelector": ".item", "gutter": 10 }'>
```

<p><strong>Options set in HTML must be valid JSON.</strong> Keys need to be quoted, for example <code><span class="string">"itemSelector"</span>:</code>. Note that the attribute value uses single quotes <code>'</code>, but the JSON entities use double-quotes <code>"</code>.</p>

<p>That&rsquo;s it! Now let&rsquo;s do some fun stuff with <a href="options.html">options</a> and <a href="methods.html">methods</a>.</p>



<h2>Vanilla JavaScript</h2>

<p>jQuery is <strong>not</strong> required to use Packery. Given its popularity, jQuery will be used for all example code in these docs. But you can still use Packery with vanilla JS.</p>

<p>Initialize a Packery instance with <code><span class="keyword">new</span> Packery( element, options )</code>. The <code>Packery</code> constructor accepts two arguments: the container element and an <a href="options.html">options</a> object.</p>

``` js
var container = document.querySelector('#container');
// init
var pckry = new Packery( container, {
  // options
  itemSelector: '.item',
  gutter: 10
});
```

<p>The element can be a selector string for a single element.</p>

``` js
var pckry = new Packery( '#container', {
  // options
});
```

</div><div class="primary-content">

<h2>Packery in use</h2>

<p>Are you using Packery? <a href="https://twitter.com/metafizzyco">Tweet @metafizzyco</a> or email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a> to share your work and possibly get it featured here.</p>

{{> in-use-gallery }}

</div><div class="primary-content">

<h2>Twitter updates from <a href="https://twitter.com/metafizzyco">@metafizzyco</a></h2>

<p><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=packery+from%3Ametafizzyco" data-widget-id="502208269725605888">Packery tweets</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
