/* site-footer
------------------------- */

.site-footer {
  position: relative;
  padding: 2.0em 0;
  background: #EAEAEA;
  z-index: 3;/* above page-nav */
}

.site-footer__copy {
  font-size: 1.2rem;
}
