/* drag-hero-demos
------------------------- */

.drag-hero-demos__instruction {
  font-size: 1.2rem;
  color: #888;
  margin-top: 0;
}

.drag-hero-demos__grid {
  background: #EAEAEA;
}

.what-is-packery .drag-hero-demos__grid {
  background: #F8F8F8;
}

.drag-hero-demos__item {
  background: #C09;
  float: left;
  cursor: move;
  line-height: 70px;
  font-size: 1.3rem;
  color: #F8F8F8;
  text-align: center;
  border: 4px solid transparent;
}

.drag-hero-demos__item:hover,
.drag-hero-demos__item.is-dragging {
  border-color: hsla(0, 0%, 100%, 0.5);
  background: #C90;
}

.drag-hero-demos__item.is-dragging,
.drag-hero-demos__item.is-positioning-post-drag {
  z-index: 2;
}

.drag-hero-demos__grid .packery-drop-placeholder {
  border: 3px dashed hsla(0, 0%, 0%, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

/* ---- masonry ---- */

.drag-hero-demos__item--masonry {
  width: 32%;
  height: 80px;
}

.drag-hero-demos__grid__masonry-gutter-sizer {
  width: 2%;
}

.drag-hero-demos__item--masonry.height2 {
  height: 130px;
}

.drag-hero-demos__item--masonry.height3 {
  height: 180px;
}

/* ---- dash ---- */


.drag-hero-demos__item--dash,
.drag-hero-demos__grid__dash-grid-sizer {
  width: 16%;
  width: calc( (100% - 8px * 4) / 5 );
}

.drag-hero-demos__item--dash {
  height: 80px;
}

.drag-hero-demos__item--dash.width2 {
  width: 32%;
  width: calc( ((100% - 8px * 4) / 5) * 2 + 8px );
}

.drag-hero-demos__item--dash.height2 {
  height: 168px;
}
