/* what-is-packery
------------------------- */

.what-is-packery {
  background: #EAEAEA;
  padding-top: 20px;
  padding-bottom: 10px;
}

.what-is-packery__description {
  font-size: 1.2rem;
  line-height: 1.3;
}
