<div class="what-is-packery">
  <div class="container">

    <h2 class="what-is-packery__title">What is Packery?</h2>

    <p class="what-is-packery__description">Packery is a JavaScript library and jQuery plugin that makes gapless and draggable layouts. It uses a bin-packing algorithm to fill in empty gaps. Packery layouts can be intelligently ordered or organically wild. Elements can be <a href="options.html#stamp">stamped</a> in place, <a href="methods.html#fit">fit</a> in a specific spot, or <a href="draggable.html">dragged around</a>. It&rsquo;s perfect for draggable dashboard and seamless Masonry image galleries. </p>

    <p class="what-is-packery__description">Try it out!</p>

    {{> drag-hero-demos }}

  </div>
</div>
