/* what-is-packery
------------------------- */

.what-is-packery {
  background: #0C9;
}

.what-is-packery__title,
.what-is-packery__description {
  color: white;
}

.main .what-is-packery__title {
  border: none;
}

.what-is-packery__description {
  font-size: 1.2rem;
  line-height: 1.3;
}

.what-is-packery__description a { color: #90C; }

.what-is-packery__description a:hover { color: #333; }
