<div class="example__demo">

  <div class="bootstrap__container-fluid">
    <div class="grid js-masonry" data-packery='{ "itemSelector": ".bootstrap__grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
      <div class="grid-sizer bootstrap__col-xs-4"></div>
      <div class="bootstrap__grid-item bootstrap__col-xs-8">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-4">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-4">
        <div class="bootstrap__grid-item-content bootstrap__grid-item-content--height2"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-8">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-4">
        <div class="bootstrap__grid-item-content bootstrap__grid-item-content--height2"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-4">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-4">
        <div class="bootstrap__grid-item-content"></div>
      </div>
    </div>

  </div>

  {{> edit-demo default="wMXWLZ" }}
</div>
