<div class="example__demo">

  <div class="bootstrap__container-fluid">
    <div class="grid" data-packery='{ "itemSelector": ".bootstrap__grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
      <div class="grid-sizer bootstrap__col-xs-6 bootstrap__col-sm-4 bootstrap__col-md-3"></div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-8 bootstrap__col-md-6">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-4 bootstrap__col-md-3">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-4 bootstrap__col-md-3">
        <div class="bootstrap__grid-item-content bootstrap__grid-item-content--height2"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-8 bootstrap__col-md-6">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-4 bootstrap__col-md-3">
        <div class="bootstrap__grid-item-content bootstrap__grid-item-content--height2"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-4 bootstrap__col-md-3">
        <div class="bootstrap__grid-item-content"></div>
      </div>
      <div class="bootstrap__grid-item bootstrap__col-xs-6 bootstrap__col-sm-4 bootstrap__col-md-3">
        <div class="bootstrap__grid-item-content"></div>
      </div>
    </div>

  </div>

  {{> edit-demo default="bEKeXy" }}
</div>
