/* hero
------------------------- */

.hero {
  background: #C09;
  color: #F8F8F8;
  position: relative;
  overflow: hidden;
}

/* ---- grid ---- */

.hero__grid-container {
  position: relative;
}

.hero__grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero__grid__item {
  background: hsla(0, 0%, 0%, 0.3);
}

/* ---- content ---- */

/* keep above grid */
.hero__content {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

.hero__title {
  font-size: 5.0rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0 0 10px;
  padding-top: 10px;
  color: #F8F8F8;
}

.hero__tagline {
  font-size: 1.4rem;
  margin: 0 0 0.8em;
  line-height: 1.2;
}

.hero__button-icon {
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.hero__button-icon path {
  fill: #F8F8F8;
}

/* ---- desktop ---- */

@media screen and ( min-width: 960px ) {

  .hero__title {
    font-size: 9.0rem;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .hero__tagline {
    font-size: 2.2rem;
  }

  /* stamp elements, shape around titles */
  .hero__grid__stamp {
    position: absolute;
/*    background: hsla(0, 0%, 100%, 0.4); */
    z-index: 2;
  }

  .hero__grid__stamp--ackery {
    width: 434px;
    height: 82px;
    left: 96px;
    top: 92px;
  }

  .hero__grid__stamp--p-top {
    width: 98px;
    height: 78px;
    left: 0px;
    top: 62px;
  }

  .hero__grid__stamp--p-bottom {
    width: 36px;
    height: 81px;
    left: 0px;
    top: 92px;
  }

  .hero__grid__stamp--k {
    width: 28px;
    height: 90px;
    left: 249px;
    top: 62px;
  }

  .hero__grid__stamp--y {
    width: 46px;
    height: 60px;
    left: 458px;
    top: 140px;
  }

  .hero__grid__stamp--tagline {
    width: 536px;
    height: 44px;
    left: 0px;
    top: 238px;
  }


  .hero__grid__stamp--gh-button {
    width: 306px;
    height: 42px;
    left: 0px;
    top: 314px;
  }

}

