<div class="hero" data-js="hero">
  <div class="primary-content">

    <div class="hero__grid-container">
      <div class="hero__grid">
        <div class="hero__grid__stamp hero__grid__stamp--p-top"></div>
        <div class="hero__grid__stamp hero__grid__stamp--p-bottom"></div>
        <div class="hero__grid__stamp hero__grid__stamp--ackery"></div>
        <div class="hero__grid__stamp hero__grid__stamp--k"></div>
        <div class="hero__grid__stamp hero__grid__stamp--y"></div>
        <div class="hero__grid__stamp hero__grid__stamp--tagline"></div>
        <div class="hero__grid__stamp hero__grid__stamp--gh-button"></div>
      </div>
    </div>

    <div class="hero__content">
      <h1 class="hero__title">Packery</h1>
      <p class="hero__tagline">Gapless, draggable layout library</p>
      <p class="hero__gh-button">
        {{> gh-button}}
      </p>

      <div class="duo">
        <div class="duo__cell">
          <a class="button button--hero-big" href="{{sourceUrlPath}}packery.pkgd.min.js">
            Download packery.&#8203;pkgd.&#8203;min.js
          </a>
        </div>

        {{! show download docs only in production }}
        {{#unless isExport}}
          <div class="duo__cell">
            <a class="button button--hero-big" href="packery-docs.zip">
              Download these docs
            </a>
          </div>
        {{/unless}}
      </div>
    </div> {{! .hero__content }}

  </div> {{! .primary-content }}
</div> {{! .hero }}

