<div class="duo__cell example__demo" data-js="order-after-drag">

  <p class="instruction">Drag items</p>

  <div class="grid grid--draggable grid--order-after-drag">
    {{> grid-items-draggable }}
  </div>

  {{> edit-demo default="qwyuF" vanillaJS="mdJnF" }}
</div>
