<div class="duo__cell example__demo" data-js="bind-draggabilly-events">
  <p class="instruction">Drag items</p>

  <div class="grid grid--draggable">
    {{> grid-items-draggable }}
  </div>

  {{> edit-demo default="aGvIq" vanillaJS="ciAdD" }}
</div>
