<div id="hero">
  <div class="primary-content">

    <div class="packery">
      <div class="placed placed-p-top"></div>
      <div class="placed placed-p-bottom"></div>
      <div class="placed placed-ackery"></div>
      <div class="placed placed-k"></div>
      <div class="placed placed-y"></div>
      <div class="placed placed-tagline"></div>
    </div>

    <h1>Packery</h1>
    <p class="tagline">The bin-packing layout library</p>

    <ul class="big-ol-buttons row row3">
      <li class="cell download-js">
        <a class="button" href="packery.pkgd.min.js">Download packery.pkgd.min.js</a>
      </li>
      <li class="cell download-docs">
        <a class="button" href="packery-docs.zip">Download these docs</a>
      </li>
      <li class="cell github">
        <a class="button" href="https://github.com/metafizzy/packery">Packery on GitHub</a>
      </li>
    </ul>

  </div> {{! .primary-content }}

</div> {{! #hero }}

<div id="hero-demos">
  <div class="primary-content">

    <div class="row row4">
      <div class="cell masonry">
        <p class="tagline">Masonry,</p>
        <div class="packery js-packery">
          <div class="item item1"></div>
          <div class="item item2 w2"></div>
          <div class="item item3 h2"></div>
          <div class="item item4 w4"></div>
          <div class="item item5 "></div>
          <div class="item item6 h2"></div>
          <div class="item item7 w2"></div>
          <div class="item item8 w4"></div>
        </div>
      </div>
      <div class="cell meticulous">
        <p class="tagline">meticulous,</p>
        <div class="packery">
          <div class="grid-sizer"></div>
          <div class="item"></div>
          <div class="item h2"></div>
          <div class="item w2"></div>
          <div class="item h2"></div>
          <div class="item"></div>
          <div class="item w2 h2"></div>
          <div class="item w2 h2"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item w2"></div>
        </div>
      </div>
      <div class="cell basically">
        <p class="tagline">basically</p>
        <div class="packery js-packery" data-packery-options='{ "gutter": 4 }'>
          <div class="item item1"></div>
          <div class="item item2 w2"></div>
          <div class="item item3 h2"></div>
          <div class="item item4 w4"></div>
          <div class="item item5 "></div>
          <div class="item item6 h2"></div>
          <div class="item item7"></div>
          <div class="item item8 w2"></div>
          <div class="item item9 w4"></div>
          <div class="item item10"></div>
        </div>
      </div>
      <div class="cell ridiculous">
        <p class="tagline">ridiculous.</p>
        <div class="packery">
        </div>
      </div>
    </div> {{! .row }}
  </div> {{! .primary-content }}

</div>  {{! #hero-demos }}


<div id="big-tagline">
  <div class="primary-content">
    <p class="tagline">Packery makes your crazy &amp; clever layout a real&nbsp;thing.
      <strong>Be clever. Get&nbsp;crazy.</strong></p>
  </div>
</div>
