<div id="hero">
  <div class="primary-content">

    <div class="packery">
      <div class="placed placed-p-top"></div>
      <div class="placed placed-p-bottom"></div>
      <div class="placed placed-ackery"></div>
      <div class="placed placed-k"></div>
      <div class="placed placed-y"></div>
      <div class="placed placed-tagline"></div>
    </div>

    <h1>Packery</h1>
    <p class="tagline">The bin-packing layout library</p>

    <ul class="big-ol-buttons row">
      <li class="cell download-js">
        <a class="button" href="#">Download packery.pkgd.min.js</a>
      </li>
      <li class="cell download-docs">
        <a class="button" href="#">Download these docs</a>
      </li>
      <li class="cell github">
        <a class="button" href="#">Packery on GitHub</a>
      </li>
    </ul>

  </div> {{! .primary-content }}

</div> {{! #hero }}
