<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Packery Docs</title>

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'>
  <!-- <link rel="stylesheet" href="css/packery-site.css"> -->
  {{#each site.css}}
    <link rel="stylesheet" href="../{{this}}">
  {{/each}}


</head>
<body>

  <h1>Packery Docs</h1>

  {{{ content }}}

</body>
</html>
