<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Packery Docs</title>

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <style>
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  }
  </style>

</head>
<body>

  <h1>Packery Docs</h1>

  {{{ content }}}

</body>
</html>
