<div class="duo__cell example__demo" data-js="fit">
  <p class="instruction">Click item to toggle size</p>

  <div class="grid grid--clickable">
    {{> grid-items }}
  </div>

  {{> edit-demo default="iLyfC" vanillaJS="rwhjq" }}
</div>
