/* container
------------------------- */

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1500px;
}

.container > * {
  max-width: 900px;
}

.container .duo.example {
  max-width: none;
}

/* desktop */
@media screen and ( min-width: 960px ) {

  .container {
    padding-left: 200px;
    padding-right: 20px;
  }

}
