<div class="duo__cell example__demo" data-js="drag-item-positioned">
  <p class="instruction">Drag items</p>

  <div class="grid grid--draggable">
    {{> grid-items-draggable }}
  </div>

  {{> edit-demo default="wnyci" vanillaJS="zacdn" }}
</div>
