<div class="duo__cell example__demo" data-js="fit-position">
  <p class="instruction">Click item to fit at 120, 60</p>

  <div class="grid grid--clickable">
    {{> grid-items }}
  </div>

  <button class="button layout-button" style="margin-top: 10px;">Layout</button>

  {{> edit-demo default="fguJH" vanillaJS="uspgI" }}
</div>
